{
  "presets": [
    "es2015"
  ],
  "env": {
    "development": {
      "presets": [
        "babel-preset-power-assert",
        "jsdoc-to-assert"
      ]
    },
    "production": {
      "plugins": [
        "babel-plugin-unassert"
      ]
    }
  }
}
